<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for>Buscar artistas</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Busque un artista"
                    [(ngModel)]="termino"
                    (keyup)="buscarArtistas()">
            </div>
        </div>
        <div
            class="col-md-9"
            *ngIf="termino.length > 1">
            <h2>{{ termino }}</h2>
            <hr>
            <app-loading *ngIf="loading"></app-loading>
            <div
                *ngIf="error"
                class="alert alert-danger animated fadeIn"
                role="alert">
                <strong>Error {{ errorJson.status }}</strong>
                <p>{{ errorJson.message }}</p>
            </div>
            <app-cards
                *ngIf="!loading"
                [items]="artists">
            </app-cards>
        </div>
    </div>
</div>
